:root {
  font: 35x / 1 sans-serif;
  color: darkblue;
}

html {
  height: 100%;
  background: black;
}

body {
  margin: 2% auto;
  background: lightgrey;
  max-width: 1200px;
}

h1 {
  text-align: center;
}

.score-area {
  display: flex;
  justify-content: space-around;
}

.score-area p {
  font-size: 3rem;
}

.update-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-score .team-name {
  display: flex;
  flex-direction: row;
}

.update-score section {
  margin: 1rem;
}
